* {
    box-sizing: border-box;
    margin: 0;
}

.main--content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    max-width: 90vw;
    padding: 50px;
    box-sizing: border-box;
}

.tabs-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 90vw;
}

.settings--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 80vh;
    padding: 50px;
    width: 100%;
    max-width: 90vw;
}